Здесь о том, кто Вы: ФИО, группа. 

Используйте максимально возможности [Markdown разметки](https://ru.wikipedia.org/wiki/Markdown). 

**Задание**

1) Используя средства модуля **pandas**, определите среднюю (максималную, минимальную) зарплату и среднюю (максималную, минимальную) пенсию в Санкт-Петербурге в 2018 году.

2) Продемонстрируйте умение в построении графиков () с помощью plot.

Импортируем модуль pandas:

In [4]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

Читаем содержимое csv файла:

In [5]:
data = pd.read_csv('opendata.csv', encoding='cp1251')
data.head()

                                           name  region        date   value
0  Количество заявок на потребительские кредиты  Россия  2013-01-15  571147
1  Количество заявок на потребительские кредиты  Россия  2013-02-15  504508
2  Количество заявок на потребительские кредиты  Россия  2013-03-15  628803
3  Количество заявок на потребительские кредиты  Россия  2013-04-15  836054
4  Количество заявок на потребительские кредиты  Россия  2013-05-15  867235

Далее Ваши подробные комментарии и пошаговый код...